:host {
  position: relative;
  display: block;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, .2);

  &.is-close-icon {
    padding-right: 32px;
  }
}

.toast__icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  cursor: pointer;
}
