$toast-background-default: #383838;
$toast-color-default: #ffffff;
$toast-background-info: #62a5e7;
$toast-color-info: #ffffff;
$toast-background-success: #659e1b;
$toast-color-success: #ffffff;
$toast-background-warning: #e9b404;
$toast-color-warning: #ffffff;
$toast-background-error: #f04e31;
$toast-color-error: #ffffff;

:host {
  position: relative;
  display: block;
  margin: var(--toast-margin, 12px);
  padding: var(--toast-padding, 12px 20px);
  border-radius: var(--toast-radius, 4px);
  box-shadow: var(--toast-box-shadow, 0 3px 6px rgba(0,0,0, .2));

  &.is-close-icon {
    padding-right: var(--toast-padding-right, 40px);
  }

  &.default {
    background-color: var(--toast-background-default, $toast-background-default);
    color: var(--toast-color-default, $toast-color-default);

    .toast__icon {
      fill: var(--toast-color-default, $toast-color-default);
    }
  }

  &.error {
    background-color: var(--toast-background-error, $toast-background-error);
    color: var(--toast-color-error, $toast-color-error);

    .toast__icon {
      fill: var(--toast-color-error, $toast-color-error);
    }
  }

  &.warning {
    background-color: var(--toast-background-warning, $toast-background-warning);
    color: var(--toast-color-warning, $toast-color-warning);

    .toast__icon {
      fill: var(--toast-color-warning, $toast-color-warning);
    }
  }

  &.info {
    background-color: var(--toast-background-info, $toast-background-info);
    color: var(--toast-color-info, $toast-color-info);

    .toast__icon {
      fill: var(--toast-color-info, $toast-color-info);
    }
  }

  &.success {
    background-color: var(--toast-background-success, $toast-background-success);
    color: var(--toast-color-success, $toast-color-success);

    .toast__icon {
      fill: var(--toast-color-success, $toast-color-success);
    }
  }
}

.toast__close {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  padding: var(--toast-icon-padding, 16px);
  transform: translateY(-50%);
  transition: 0.2s all ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: .6;
  }
}

.toast__icon {
  width: var(--toast-icon-size, 10px);
  fill: inherit;
}
