/* You can add global styles to this file, and also import other style files */
:root {
  --snackbar-info: #1e90ff;
  --snackbar-success: #87c540;
  --snackbar-warning: #e6cf4d;
  --snackbar-error: #cf3f3f;
}
